html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header.nav {
    background-color: #030303;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}
div.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
div.nav-item {
    font-size: 24px;
    color: #f3f3f3;
    cursor: pointer;
    transition: color 0.3s ease;
}
div.nav-item:hover {
    color: #d2d2d2;
}
div.nav-item-logo img {
    height: 6rem;
    width: auto;
}
a.page-link {
    text-decoration: none;
    color: inherit;
}
div.homepage-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}
div.homepage-main-container {
    max-width: 100%;
    width: 100%;
    align-items: center;
}
div.homepage-main-image img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    object-position: bottom;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
div.homepage-image-text {
    padding-right: 2.5em;
    margin-top: -425px;
    align-items: right;
    text-align: right;
}
div.homepage-image-text h1{
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    margin: 0;
    color:#f3f3f3;
    margin-bottom: 0.7em;
}
div.homepage-image-text p{
    font-size: 24px;
    margin: 10px 0 0 0;
    color: #f3f3f3;
}
div.homepage-image-text a{
    display: inline-block;
    margin-top: 3em;
    padding: 10px 20px;
    background-color: #f3f3f3;
    color: #030303;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid #030303;
}
a.page-link-button:hover {
    background-color: #030303;
    color:#f3f3f3
}
@media (max-width: 768px) {
    div.nav-container {
        flex-direction: column;
        gap: 1em;
    }
    div.nav-item {
        font-size: 20px;
    }
}
div.homepage-splitters {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 4em 2em;
    gap: 2em;
    margin-top: 150px;
}

div.splitter {
    flex: 1;
    text-align: center;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

div.splitter i {
    font-size: 30px;
    margin-bottom: 0.4em;
    display: block;
}

p.splitter-desc {
    font-size: 20px;
    color: #333;
    margin-top: 0.2em;
    line-height: 1.3;
}
@media (max-width: 768px) {
    div.splitter {
        flex-direction: column;
        gap: 2em;
    }
}
div.recommend-container {
    max-width: 1200px;
    margin: -100px auto;
    padding: 4em 2em;
    text-align: center;
}
div.recommend-title {
    text-align: center;
    margin-bottom: 2em;
}
div.recommend-title h2 {
    font-size: 36px;
    margin: 0;
}
div.recommend-items {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    flex-wrap: wrap;
}
div.recommend-item {
    flex: 1 1 calc(33% - 2em);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 1em;
    text-align: center;
}
div.recommend-item img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
div.recommend-item h3 {
    font-size: 24px;
    margin: 0.5em 0;
}
div.recommend-item p {
    font-size: 16px;
    color: #555;
}
@media (max-width: 768px) {
    div.recommend-item {
        flex: 1 1 100%;
    }
}
div.recommend-item a {
    display: inline-block;
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #030303;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
div.recommend-item a:hover {
    background-color: #505050;

}


