html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f3;
}
nav.navbar {
    background-color: #030303;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}
div.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
div.navbar-item {
    font-size: 24px;
    color: #f3f3f3;
    cursor: pointer;
    transition: color 0.3s ease;
}
div.navbar-item:hover {
    color: #d2d2d2;
}
div.navbar-item-logo img {
    height: 6rem;
    width: auto;
}
div.navbar-item-logo a {
    text-decoration: none;
    color: inherit;
}
a.page-link {
    text-decoration: none;
    color: inherit;
}
div.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}
div.welcoming-section {
    max-width: 100%;
    width: 100%;
    align-items: center;
}
div.welcoming-image img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    object-position: bottom;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
div.welcoming-image-text {
    padding-right: 2.5em;
    margin-top: -425px;
    align-items: right;
    text-align: right;
}
div.welcoming-image-text h1{
    color: #f3f3f3;
    font-size: 48px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Great Vibes', cursive;
}
div.welcoming-image-text p{
    font-size: 24px;
    color: #f3f3f3;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
div.welcoming-image-text a {
    color: #030303;
    text-decoration: none;
    border: #030303 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f3f3f3;
}
div.welcoming-image-text a:hover {
    background-color: #030303;
    color: #f3f3f3;
    transition: background-color 0.3s ease;
}
div.vision-mission-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
    background-color: #f3f3f3;
    margin-top: 17em;
}
div.vision-mission-item {
    max-width: 600px;
    margin: 0 2em;
    text-align: center;
    border: rgba(0, 0, 0, 0.2) 2px solid;
    padding: 2em;
    border-radius: 10px;
}
div.vision-mission-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
div.vision-mission-item i {
    font-size: 48px;
    color: #030303;
    margin-bottom: 0.5em;
}
div.vision-mission-item p {
    font-size: 20px;
    color: #333333;
    line-height: 1.6;
}
div.rec-collection-section {
    padding: 4em 2em;
    text-align: center;
}
div.rec-collection-section h2 {
    font-size: 36px;
    margin-bottom: 1em;
    color: #030303;
}
div.rec-collection-items {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}
div.rec-collection-item {
    flex: 1 1 calc(33% - 2em);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 1em;
    text-align: center;
}
div.rec-collection-item img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
div.rec-collection-item h3 {
    font-size: 24px;
    margin: 0.5em 0;
}
div.rec-collection-item p {
    font-size: 16px;
    color: #555;
}
@media (max-width: 768px) {
    div.rec-collection-item {
        flex: 1 1 100%;
    }
}
div.rec-collection-item a {
    display: inline-block;
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #030303;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
div.rec-collection-item a:hover {
    background-color: #505050;
}
div.about-company-section {
    background-color: #f3f3f3;
    padding: 4em 2em;
    text-align: center;
}
div.about-company-section i {
    font-size: 12px;
    color: #030303;
    margin-bottom: 1em;
}
div.about-company-section h2 {
    font-size: 36px;
    margin-bottom: 1em;
}
div.about-company-section p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
div.about-company-section a {
    display: inline-block;
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #030303;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
div.about-company-section a:hover {
    background-color: #505050;
}
footer.footer {
    background-color: #030303;
    color: #f3f3f3;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}
div.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
div.copyright-container p {
    margin: 0;
    font-size: 14px;
}
div.social-links-container {
    margin-top: 0.5em;
}
div.social-links-container a {
    color: #f3f3f3;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
div.social-links-container a:hover {
    color: #d2d2d2;
}
div.social-links-container i {
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}
main.shop-section {
    padding: 4em 2em;
    text-align: center;
}
div.filter-container {
    margin-bottom: 2em;
}
div.filter-container h2 {
    font-size: 28px;
    margin-bottom: 1em;
}
div.filter-options {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
div.filter-option {
    padding: 10px 20px;
    background-color: #030303;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
div.filter-option:hover {
    background-color: #505050;
}
table.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto; 
    text-align: center;
    justify-content: center;
    justify-items: center;
}
tr.item-row {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
td.item-cell {
    width: 33.33%;
    text-align: center;
    vertical-align: top;
    padding: 15px;
}   
div.item-card {
    height: 300px;         
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 1em;
    text-align: center;
}
div.item-card img {
    margin-bottom: 1em;
    max-width: 100%;       
    max-height: 150px;     
    object-fit: contain;  
    border-radius: 8px;  

}
div.item-card h3 {
    font-size: 22px;
    margin: 0.5em 0;
}
div.item-card p {
    font-size: 16px;
    color: #555;
}
div.item-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #030303;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
div.item-card a:hover {
    background-color: #505050;
}
main.collection-section {
    padding: 4em 2em;
    text-align: center;
}
table.collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    border-collapse: collapse;
    table-layout: fixed;
}
tr.collection-row {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
td.collection-cell {
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 15px;
}   
div.collection-card {
    max-width: none;
    margin: 0;
    justify-content: flex-end;
    height: 300px;      
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 1em;
    text-align: center;
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    color: #fff;
}
div.collection-card h3 {
    font-size: 22px;
    margin: 0.5em 0;
}
div.collection-card p {
    font-size: 16px;
    color: #555;
}
div.collection-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #030303;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
div.collection-card a:hover {
    background-color: #505050;
}
h2.collections-title {
    font-size: 36px;
    margin-bottom: 1em;
    color: #030303;
    border-bottom : #030303 2px solid;
    padding-bottom: 0.5em;
    text-align: center;
    display: inline-block;
}
div.workshop-section {
    padding: 4em 2em;
    text-align: center;
}
div.workshop-section img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
div.workshop-section h2 {
    font-size: 36px;
    margin-bottom: 1em;
    color: #030303;
}
div.workshop-section p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
div.workshop-section h3 {
    font-size: 28px;
    margin-top: 1em;
}
div.workshop-section ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}
div.workshop-section ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 0.5em;
}
div.form-section {
    margin-top: 2em;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
div.form-section h2 {
    font-size: 28px;
    margin-bottom: 1em;
}
form.workshop-form {
    display: flex;
    flex-direction: column;
}
form.workshop-form label {
    font-size: 16px;
    margin-bottom: 0.5em;
}
form.workshop-form input,
form.workshop-form select,
form.workshop-form textarea {
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
form.workshop-form button {
    padding: 10px 20px;
    background-color: #030303;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form.workshop-form button:hover {
    background-color: #505050;
}
main.aboutus-section {
    padding: 4em 2em;
    text-align: center;
}
div.aboutus-container {
    max-width: 800px;
    margin: 0 auto;
}
div.aboutme-container {
    margin-bottom: 2em;
}
div.aboutme-container h2 {
    font-size: 36px;
    margin-bottom: 0.5em;
    color: #030303;
}
div.aboutme-container h4 {
    font-size: 24px;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.4);
}
div.aboutme-container p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}
div.aboutme-container i {
    font-size: 12px;
    color: #030303;
    margin-bottom: 1em;
}